#screen {
  background-color: cadetblue;
}

#container {
  position: absolute;
  height: 160px;
  width: 240px;
  background-color: white;
}

#output {
  position: absolute;
  height: 20%;
  width: 70%;
  left: 15%;
  top:5%;
  background-color: rgb(46, 90, 170);
}

#body {
  position: absolute;
  height: 65%;
  width: 80%;
  width: 80%;
  left: 10%;
  top:30%;
  background-color: grey;
}

#input1 {
  position: absolute;
  height: 20%;
  width: 50%;
  left: 10%;
  top:10%;
  background-color: lightseagreen;
  float: left;
}

#input2 {
  position: absolute;
  height: 20%;
  width: 50%;
  left: 10%;
  top: 40%;
  background-color: lightseagreen;
  ;
  float: left;
}

/* - */
#action_key1 {
  position: absolute;
  height: 20%;
  width: 25%;
  right: 10%;
  top: 10%;
  background-color: lightblue;
  float: right;
}

/* + */
#action_key2 {
  position: absolute;
  height: 20%;
  width: 25%;
  right: 10%;
  top: 40%;
  background-color: lightblue;
  float: right;
}

/* = */
#action_key3 {
  position: absolute;
  height: 20%; 
  width: 25%;
  right: 10%;
  top: 70%;
  background-color: lightblue;
  float: right;
}

.Fit{
  position: absolute;
  height: 100%; 
  width: 100%; 
   
}