  
  #modalScreen{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #output_Top {
      height: 50%;
      width: 100%;
      left: 25%;
      background-color: rgb(46, 90, 170);
      border-radius: 6px 6px 0px 0px;
  }

  #output_Bottom {
    
      height: 50%;
      width: 100%;
      left: 25%;
      top: 50%;
      background-color: rgb(46, 90, 170);
      border-radius: 0px 0px 6px 6px;
  }

  #output{
    position: absolute;
    left: 50%;
    top: 9%;
    height: 7.5%;
    width: 14.25%; 
    left: 42.5%;
  }
  .screen {
    position: absolute;
    height: 40%;
    width: 15%;
    left: 42.5%;
    top: 20%;
  }

  .foot{
    position: absolute;
    height: 40%;
    width: 15%;
    left: 42.5%;
    top: 20%;
  }

  /* ===================================================== */

  #equals{
    border: none;
    cursor:pointer ;  
    font-family: "Nunito", sans-serif;
    background-color: rgb(78, 241, 78);
    border-radius: 6px;
    font-weight: bold;
    padding: 5px;
  }

  #clear{
    border: none;
    cursor:pointer ;  
    font-family: "Nunito", sans-serif;
    background-color: coral;
    border-radius: 6px;
    font-weight: bold;
    padding: 5px;
  }

  /* ================================================= */

.grid-numbr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    justify-content: center;
    align-content: center;
}

.grid-opert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 3px;
    justify-content: center;
    align-content: center;
}

.grid-funct {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 3px;
    justify-content: center;
    align-content: center;
}

#container-numbr {
    float: left;
    height: 100%;
    width: 59.5%;
}

#container-opert {
    float: right;
    float: top;
    height: 49.5%;
    width: 39.5%;
}

#container-funct {
    float: right;
    float: bottom;
    height: 49.5%;
    width: 39.5%;
    padding-top: 1%;
}

  /* ================================================= */

.fit {
    height: 100%;
    width: 100%;
}

.font {
    border: none;
    cursor:pointer ;  
    font-family: "Nunito", sans-serif;
    background-color: cornflowerblue;
    border-radius: 6px;
    font-weight: bold;
    padding: 5px;
  }
